<!DOCTYPE html>
<html>
  <head>
    <title>Celep Kombi Servis - Kombi Bakımı | Kombi Arızası | Petek Temizliği</title>

    <meta charset="utf-8">
    <meta name="description" content="Kombi bakımı, kombi arızası, petek temizliği, kombi tamiri ve onarımı gibi profesyonel hizmetler sunuyoruz. Kaliteli ve hızlı çözümler için bizi tercih edin.">
    <meta name="keywords" content="kombi bakımı, kombi arızası, petek temizliği, kombi tamiri, kombi onarımı">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="images/logo.jpeg">
    <link rel="icon" type="image/png" sizes="96x96" href="images/logo.jpeg">
    <link rel="icon" type="image/png" sizes="32x32" href="images/logo.jpeg">
    <link rel="icon" type="image/png" sizes="16x16" href="images/logo.jpeg">
    <link rel="icon" type="image/ico" href="favicon.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
